// header
.top-header{
  --background: #232b2b;
}

.title{
  text-align: center;
  font-weight: bold;
  color: white;
}

.home-icon{
  color: white;
  position: absolute;
  right: 5%;
}

.nav-icon{
  color: white;
  position: absolute;
  left: 2%;
  top: 8%;
  width: 36px;
  z-index: 100;
}

// body
h3{
  text-align: center;
}

.timer{
  height: 50px;
  width: 50px;
  color: white;
  background: grey;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
}