<ion-content class="body">
  <div class="title-holder">
    <h1 class="title">
      {{isCorrect ? 'Correct' : 'Wrong'}} Answer
    </h1>
  </div>

  <div class="content-holder">
    <div class="content">
      {{description}}
    </div>
  </div>

  <div class="minus-heart-holder" *ngIf="!isCorrect">
    <div class="minus-heart">
      <ion-row>
        <ion-col class="heart-icon-holder">
          <ion-icon class="heart-icon" name="heart"></ion-icon>
        </ion-col>
        <ion-col>
          <div class="minus">
            - 1
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="button-holder">
    <ion-button color="success" class="the-btn" (click)="close()">
      {{isCorrect ? 'Next' : 'Close'}}
    </ion-button>
  </div>
</ion-content>
