// header
.top-header{
  background: rgb(138, 98, 73);
}

.back-btn{
  color: white;
  font-size: 30px;
  margin-top: 16px;
  margin-left: 10px;
}

.heart-btn{
  color: white;
  font-size: 65px;
  margin-top: 0px;
  margin-right: 10px;
}

.timer{
  height: 50px;
  width: 50px;
  color: white;
  font-weight: bold;
  margin: auto;
  padding: 0 10px;
  text-align: center;
  font-size: 24px;
}

.align-right{
  text-align: right
}

.relative{
  position: relative;
}

.trial{
  position: absolute;
  top: 6vw;
  right: 10.5vw;
  color: rgb(88, 46, 24);
  font-size: 18px;
  font-weight: bold;
}
// body
.content{
  --background: rgb(138, 98, 73);
}

.question-holder{
  margin: 20px;
  background: white;
  border-radius: 10px;
  height: 50vw;
}

.question-title{
  color: rgb(88, 46, 24);
  padding-top: 12px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.question{
  margin-top: 30px;
  font-size: 20px;
}

.selection-btn{
  height: 50px;
  width: 100%;
  font-size: 16px;
  --background: rgb(88, 46, 24);
  margin: 8px 0;
}

.selection-btn2{
  height: 50px;
  width: 100%;
  font-size: 16px;
  --background: rgb(88, 46, 24);
  margin: 8px 0;
  font-size: 10px;
}
