.img-holder{
  text-align: center;
}

.img-1{
  width: 70%;
}

.img-4{
  width: 90%;
  margin-top: 15px;
}

.title{
  text-align: center;
  font-family: "frozen";
  font-size: 20px;
}

.btn-holder{
  text-align: center;
  margin-top: 10vw;
}

.start-btn{
  height: 50px;
  width: 82%;
  --border-radius: 10px;
  font-size: 20px;
  margin-left: auto;
  text-transform: none;
  font-family: "frozen";
}