<ion-content>
  <div class="title">
    How to play
  </div>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Mechanics</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
          1. Player has only 3 trials to finish 1 category. <br>
          2. Player is given 15 seconds to answer each question. <br>
          3. Player looses 1 trial on every wrong answer or 15 seconds expires. <br>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Gameplay</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
          1. Select 3 categories of dificulty. <br>
          2. Answer questions to go to the next one. <br>
          3. Need to have 10 correct answers to finish the game. 
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div class="btn-holder btn-animation" (click)="navigate('/select-category')">
    <ion-button color="success" class="start-btn btn-animation">
      Play Now
    </ion-button>
  </div>

  <div class="btn-holder btn-animation" (click)="navigate('/home')">
    <ion-button color="danger" class="start-btn btn-animation">
      Exit
    </ion-button>
  </div>

  <audio id="btnPressed">
    <source src="../../assets/audio/button_pressed.mp3" type="audio/mp3">
  </audio>

</ion-content>
