// body
.title{
  text-align: center;
  color: beige;
  font-size: 35px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'frozen', serif;

  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
    -webkit-background-clip: text;
  background-size: contain;
  width: 100%;
  text-align: center;
  color: transparent;

  &::before {
    content: "GOTPH: Game of the Philippine History";
    position: absolute;
    left: 0;
    top: 20.5%;
    width: 100%;
    background: linear-gradient(45deg, rgba(255,255,255,0) 45%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
    -webkit-background-clip: text;
    color: transparent;
    mix-blend-mode: screen;
    animation: shine 2s infinite;
    background-size: 200%;
    text-shadow: 
      2px 2px 10px rgba(#000, 0.2),
      -2px 2px 10px rgba(#000, 0.2),
      -2px -2px 10px rgba(#000, 0.2);
  }
}

@keyframes shine {
  0% {background-position: -100%;}
  100% {background-position: 100%;}
}

.container{
  height: 100%;
}

.no-margin{
  margin: 0;
}

.container-1{
  // height: 160vw;
  // background: linear-gradient(0deg, rgb(94, 71, 57), rgb(91, 57, 48) 80%) no-repeat;
  background: rgb(138, 98, 73);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  position: relative;
}

.help-1, .help-2, .help-3, .help-4, .help-5{
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
}

.help-1{
  left: 40;
}

.help-5 {
  top: 61%;
  left: 17%;
  transform: rotate(45deg);
}

.help-4{
  top: 58%;
  left: 68%;
  transform: rotate(-200deg);
}

.icon-whole-holder{
  padding-bottom: 10vw;
}

.icon-holder{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 150px;
  background: rgb(88, 46, 24);
  border-radius: 25px;
  position: relative;
}

.icon{
  color: beige;
  font-size: 80px;
}

.icon-title{
  color: beige;
  font-size: 30px;
  font-weight: bold;
}

.btn-holder{
  text-align: center;
  margin-top: 15vw;
}

.start-btn{
  height: 50px;
  width: 82%;
  --border-radius: 10px;
  font-size: 20px;
  margin-left: auto;
  text-transform: none;
  font-family: "frozen";
}

.btn-animation:active {
  transform: translateY(4px);
}

.audio-holder{
  position: absolute;
  right: 5%;
  top: 2%;
}

.audio-btn{
  height: 55px;
  width: 55px;
}

.video{
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
