<ion-content [fullscreen]="true">

  <div id="container">
    <div class="space"></div> 
    <h3 class="center">
      Welcome! <br>Please select a game.
    </h3>
    <div class="space"></div>
    <ion-row>
      <ion-button class="button" (click)="navigate('/two-pics')">
        2 pics 1 word
      </ion-button>
    </ion-row>
    <div class="space"></div>
    <ion-row>
      <ion-button class="button" (click)="navigate('/quiz-game')">
        quiz game
      </ion-button>
    </ion-row>
    
  </div>
</ion-content>
